.with-us-portable-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $green;
    height: 616px;
    .with-us-portable {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $green;
        padding-bottom: 50px;
        width: 85%;
        height: 520px;
        border: 5px solid $brown-light;
        .portable-main-title{
            color: #fff;
            font-size: 36px;
            font-weight: 600;
            font-family: "Montserrat";
            padding: 50px;
            margin-bottom: 46px;
        }
        .with-us-portable-inner-block {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 40px 30px;
            background-color: $green;
            .portable-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                .portable-img{
                    margin-bottom: 15px;
                }
                .portable-title {
                    font-size: 20px;
                    font-weight: 600;
                    color: #fff;
                    font-family: "Montserrat";
                    text-align: center;
                    margin-bottom: 5px;
                }
                .portable-title-after {
                    font-size: 16px;
                    font-weight: 400;
                    color: #fff;
                    font-family: "Montserrat";
                    text-align: center;
                }
            }
        }
    }
}