.user-api{
    background-color: $green-dark;
    height: 76px;
    display: flex;
    align-items: center;
    .user-api-inner{
        display: flex;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'PT Sans';
        .logo{
            @include md-d{
                width: 134px;
            }
        }
        .phone-nav{
            display: flex;
            list-style-type: none;
            margin: 0px 45px 0px 20px;
            .phone-nav-items{
                display: flex;
                align-items: center;
                .phone-number{
                    text-decoration: none;
                    color: #fff;
                    margin: 0px 8px;
                    font-size: 16px;
                }
            }
            @include lg{
                display: none;
            };
            @include lg-d{
                display: none;
            };
        }  
        .label{
            position: relative;
            margin-right: 37px;
            .serch-products{
                background-color: rgba(255, 255, 255, 0);
                border: 1px solid $grey;
                border-radius: 4px;
                padding: 12px;
                width: 398px;
                color: $grey;
                font-family: 'Montserrat';
                @include lg-d{
                    width: 265px;
                    margin-left: 15px
                };
            }
            .serch-products:focus{
                outline: none;
                background-color: #fff;
            }
            .loop{
                position: absolute;
                right: 11px;
                top: 9px;
            }
            @include md-d{
                display: none
            };
        }
        .order-and-prefer{
            display: flex;
            width: 150px;
            justify-content: space-between;
            align-items: center;
            font-family: 'PT Sans';
            .sircle{
                border-radius: 50%;
                background-color: $brown;
                color: $brown;
                width: 9px;
                height: 9px;
                position: absolute;
                right: -1px;
                top: -4px;
                display: none;
            }
            .prefer-items,
            .order-items{
                cursor: pointer;
                position: relative;
                
            }
            .order-item{
                display: flex;
                color: #fff;
                align-items: center;
                justify-content: space-between;
                width: 70px;
            }
            @include lg-d{
                margin-left: 0px
            };
        }
    }
}
.label-responcive{
    margin-right: 37px;
    display: none;
    padding-top: 10px;
    .label-responcive-inner{
        position: relative;
        .serch-products{
            background-color: rgba(255, 255, 255, 0);
            border: 1px solid $grey;
            border-radius: 4px;
            padding: 12px;
            width: 398px;
            color: $grey;
            @include sm-d{
                width: 280px;
            };
        }
        .serch-products:focus{
            outline: none;
            background-color: #fff;
        }
        .loop{
            position: absolute;
            right: 11px;
            top: 9px;
        }
    }
    @include md-d{
        display: flex;
        justify-content: center;
        margin: 0 auto;
    };
}