* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1380px;
  margin: 0 auto;
}
@media (max-width: 1359.8px) and (min-width: 940px) {
  .wrapper {
    width: 95%;
  }
}
@media (max-width: 939.8px) {
  .wrapper {
    width: 95%;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  margin-bottom: 20px;
  font-family: "PT Sans";
}
@media (max-width: 939.8px) {
  header {
    padding-top: 10px;
    margin-bottom: 10px;
  }
}
header .choise-location-item,
header .choise-nav-item,
header .choise-language-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  cursor: pointer;
}
header .choise-location-item {
  margin-right: 130px;
}
@media (max-width: 1359.8px) and (min-width: 940px) {
  header .choise-location-item {
    margin-right: 0px;
  }
}
@media (max-width: 939.8px) {
  header .choise-location-item {
    margin-right: 0px;
  }
}
header .body-choise-location {
  display: none;
  height: 0px;
  position: absolute;
}
header .active-location {
  display: block;
}
header .active-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .body-choise-location .choise-location-item,
header .body-choise-location .choise-nav-item,
header .body-choise-location .choise-language-item {
  background-color: #fff;
}
header .body-choise-location .choise-location-item:hover,
header .body-choise-location .choise-nav-item:hover,
header .body-choise-location .choise-language-item:hover {
  background-color: rgb(235, 235, 235);
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 75px;
}
@media (max-width: 1359.8px) and (min-width: 940px) {
  header nav {
    display: none;
  }
}
@media (max-width: 939.8px) {
  header nav {
    display: none;
  }
}
header nav .main-nav-items {
  cursor: pointer;
  font-size: 13px;
  margin-right: 1.1em;
}
header nav .main-nav-items .header-nav-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header nav .main-nav-items .header-nav-select .arrow2 {
  margin-left: 5px;
}
header nav .main-nav-items .header-nav-select .arrow2-active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header nav .main-nav-items .choise-nav-item {
  width: auto;
}
header .delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .delivery .delivery-ttl {
  font-size: 14px;
  font-weight: 400;
  margin-right: 10px;
}
header .delivery .delivery-time {
  width: 110px;
  font-size: 12px;
}
@media (max-width: 559.8px) {
  header .delivery {
    display: none;
  }
}
header .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 138px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  margin-right: 28px;
}
header .social .social-items {
  cursor: pointer;
}
@media (max-width: 939.8px) {
  header .social {
    display: none;
  }
}
header .select-phone {
  display: none;
}
header .select-phone .choise-phone-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .select-phone .header-phone .choise-phone-item {
  width: 155px;
}
header .select-phone .body-choise-phone {
  display: none;
  position: absolute;
  background-color: #fff;
  z-index: 50;
  padding: 10px;
}
header .select-phone .body-choise-phone .choise-phone-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 127px;
}
header .select-phone .phone-number {
  text-decoration: none;
  color: #333333;
}
header .select-phone .active-location {
  display: block;
}
@media (max-width: 1359.8px) and (min-width: 940px) {
  header .select-phone {
    display: block;
  }
}
@media (max-width: 939.8px) {
  header .select-phone {
    display: block;
  }
}
header .optClient {
  text-decoration: none;
  border-radius: 5px;
  height: 15px;
  color: aliceblue;
  background-color: rgb(185, 149, 111);
  font-size: 14px;
  padding: 10px 30px;
  margin-right: 30px;
  font-family: "Montserrat";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
header .optClient:hover {
  background-color: #AE8646;
}
@media (max-width: 760.8px) {
  header .optClient {
    display: none;
  }
}
header .select-language .choise-language-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  width: 36px;
}

.user-api {
  background-color: #00554E;
  height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.user-api .user-api-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "PT Sans";
}
@media (max-width: 760.8px) {
  .user-api .user-api-inner .logo {
    width: 134px;
  }
}
.user-api .user-api-inner .phone-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0px 45px 0px 20px;
}
.user-api .user-api-inner .phone-nav .phone-nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.user-api .user-api-inner .phone-nav .phone-nav-items .phone-number {
  text-decoration: none;
  color: #fff;
  margin: 0px 8px;
  font-size: 16px;
}
@media (max-width: 1359.8px) and (min-width: 940px) {
  .user-api .user-api-inner .phone-nav {
    display: none;
  }
}
@media (max-width: 939.8px) {
  .user-api .user-api-inner .phone-nav {
    display: none;
  }
}
.user-api .user-api-inner .label {
  position: relative;
  margin-right: 37px;
}
.user-api .user-api-inner .label .serch-products {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgb(186, 186, 186);
  border-radius: 4px;
  padding: 12px;
  width: 398px;
  color: rgb(186, 186, 186);
  font-family: "Montserrat";
}
@media (max-width: 939.8px) {
  .user-api .user-api-inner .label .serch-products {
    width: 265px;
    margin-left: 15px;
  }
}
.user-api .user-api-inner .label .serch-products:focus {
  outline: none;
  background-color: #fff;
}
.user-api .user-api-inner .label .loop {
  position: absolute;
  right: 11px;
  top: 9px;
}
@media (max-width: 760.8px) {
  .user-api .user-api-inner .label {
    display: none;
  }
}
.user-api .user-api-inner .order-and-prefer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "PT Sans";
}
.user-api .user-api-inner .order-and-prefer .sircle {
  border-radius: 50%;
  background-color: #AE8646;
  color: #AE8646;
  width: 9px;
  height: 9px;
  position: absolute;
  right: -1px;
  top: -4px;
  display: none;
}
.user-api .user-api-inner .order-and-prefer .prefer-items,
.user-api .user-api-inner .order-and-prefer .order-items {
  cursor: pointer;
  position: relative;
}
.user-api .user-api-inner .order-and-prefer .order-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70px;
}
@media (max-width: 939.8px) {
  .user-api .user-api-inner .order-and-prefer {
    margin-left: 0px;
  }
}

.label-responcive {
  margin-right: 37px;
  display: none;
  padding-top: 10px;
}
.label-responcive .label-responcive-inner {
  position: relative;
  margin-bottom: 10px;
}
.label-responcive .label-responcive-inner .serch-products {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgb(186, 186, 186);
  border-radius: 4px;
  padding: 12px;
  width: 398px;
  color: rgb(186, 186, 186);
}
@media (max-width: 559.8px) {
  .label-responcive .label-responcive-inner .serch-products {
    width: 280px;
  }
}
.label-responcive .label-responcive-inner .serch-products:focus {
  outline: none;
  background-color: #fff;
}
.label-responcive .label-responcive-inner .loop {
  position: absolute;
  right: 11px;
  top: 9px;
}
@media (max-width: 760.8px) {
  .label-responcive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
}

.title {
  position: relative;
  height: 700px;
}
.title .one,
.title .two,
.title .three,
.title .for,
.title .five {
  opacity: 0;
  width: 100%;
  height: 700px;
  background-image: url(img/background1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 0;
}
@media (max-width: 760.8px) {
  .title .one,
.title .two,
.title .three,
.title .for,
.title .five {
    height: 500px;
  }
}
.title .two {
  background-image: url(img/background2.jpg);
}
.title .three {
  background-image: url(img/background3.jpg);
}
.title .for {
  background-image: url(img/bacground4.jpg);
}
.title .five {
  background-image: url(img/background5.jpg);
}
.title .active-background {
  opacity: 1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.title .wrapper {
  position: relative;
}
.title .wrapper .main-title {
  padding-top: 200px;
  font-size: 45px;
  font-weight: 500;
  font-family: "Montserrat";
  color: #00554E;
  width: 639px;
  margin-bottom: 20px;
}
@media (max-width: 760.8px) {
  .title .wrapper .main-title {
    width: 85%;
    font-size: 30px;
  }
}
.title .wrapper .afet-main-title {
  font-size: 20px;
  font-weight: 400;
  font-family: "Montserrat";
  margin-bottom: 40px;
  color: #03453B;
}
@media (max-width: 760.8px) {
  .title .wrapper .afet-main-title {
    width: 80%;
    font-size: 20px;
  }
}
.title .wrapper .title-btn,
.title .wrapper .title2-btn {
  background-color: #03453B;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  padding: 1em 6em;
  border: 0px solid;
  border-radius: 4px;
  cursor: pointer;
  padding: 15px 30px;
  margin-bottom: 208px;
}
.title .wrapper .title-btn:hover,
.title .wrapper .title2-btn:hover {
  background-color: #00554E;
}
.title .wrapper .title2-btn {
  background-color: rgba(240, 248, 255, 0);
  color: #03453B;
  border: 1px solid #03453B;
  margin-left: 36px;
  width: 350px;
}
.title .wrapper .title2-btn:hover {
  background-color: rgba(240, 248, 255, 0.384);
}
.title .wrapper .title2-btn .btn-arrow {
  margin-left: 10px;
  margin-top: 5px;
  position: absolute;
  -webkit-animation-name: animForArrow;
          animation-name: animForArrow;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-iteration-count: 10;
          animation-iteration-count: 10;
}
.title .wrapper .pointers-block {
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
.title .wrapper .pointers-block .dots {
  cursor: pointer;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 1px solid #00554E;
  background-color: rgba(240, 248, 255, 0);
}
.title .wrapper .pointers-block .active {
  background-color: #00554E;
}

@-webkit-keyframes animForArrow {
  0% {
    margin-left: 10px;
  }
  65% {
    margin-left: 67px;
  }
  75% {
    margin-left: 55px;
  }
  100% {
    margin-left: 60px;
  }
}

@keyframes animForArrow {
  0% {
    margin-left: 10px;
  }
  65% {
    margin-left: 67px;
  }
  75% {
    margin-left: 55px;
  }
  100% {
    margin-left: 60px;
  }
}
main {
  background-color: rgba(229, 229, 229, 0.5019607843);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
}
main .typeof-products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 20px 200px 20px 200px 20px 200px 20px 200px 20px 200px;
  grid-template-columns: repeat(6, 200px);
  grid-gap: 20px;
  padding-bottom: 102px;
}
main .typeof-products .typeof-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 128px;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 15px #ccc;
  -webkit-user-select: none;
}
main .typeof-products .typeof-element:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: antiquewhite;
}
main .typeof-products .typeof-element .typeof-title {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #03453B;
  font-family: "PT Sans";
  padding-top: 11px;
}
main .typeof-products .typeof-element:last-child {
  height: 280px;
  -ms-grid-column: 6;
      grid-column-start: 6;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}