$brown: #AE8646;
$brown-light: rgba(185, 149, 111, 1);
$green-dark: #00554E;
$green: #03453B;
$dark: #333333;
$hoverColor: rgba(235, 235, 235, 1);
$grey: rgba(186, 186, 186, 1);

$brackpoints: (
    sm: 560px,
    md: 761px,
    lg: 940px,
    xl:1360px,
);

@mixin forText {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

@mixin forBtn {
    background-color: $green;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    padding: 1em 6em;
    border: 0px solid;
    border-radius: 4px;
    cursor: pointer;
    &:hover{
        background-color: $green-dark;
    }
}