$brown: #AE8646;
$brown-light: rgba(185, 149, 111, 1);
$green-dark: #00554E;
$green: #03453B;
$dark: #333333;
$hoverColor: rgba(235, 235, 235, 1);
$grey: rgba(186, 186, 186, 1);

$brackpoints: (
    sm: 560px,
    md: 761px,
    lg: 940px,
    xl:1360px,
);