.product-container{
    display: flex;
    justify-content: center;
    .products-grid{
        display: grid;
        grid-template-columns: repeat(4, 310px);
        grid-gap: 30px 40px;
        margin-bottom: 100px;
        @include xl-d{
            grid-template-columns: repeat(3, 310px);
        }
        @include lg-d{
            grid-template-columns: repeat(2, 310px);
        }
        @include md-d{
            grid-template-columns: repeat(1, 310px);
        }
        .products-item{
            height: 470px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            position: relative;
            text-align: center;
            cursor: pointer;
            padding: 10px 10px 20px 10px;
            &:hover{
                transform: scale(1.05);
            }
            .userapi-in-product-item{
                position: absolute;
                width: 100%;
                top: 0;
                display: flex;
                justify-content: space-between;
                .heart{
                    border: 3px solid red;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                }
                .herd-active{
                    background: red;
                }
            }
            .product-title{
                @include forText;
                color: $dark;
                font-family: "Montserrat";
            }
            .product-amount{
                @include forText;
                font-weight: 700;
                font-size: 18px;
                font-family: "Montserrat";
            }
            .order-broduct{
                @include forBtn;
            }
            .buy-one-click{
                text-decoration: none;
                @include forText;
                font-size: 18px;
                font-family: "Montserrat";
            }
        }
    }
}
