$brown: #AE8646;
$brown-light: rgba(185, 149, 111, 1);
$green-dark: #00554E;
$green: #03453B;
$dark: #333333;
$hoverColor: rgba(235, 235, 235, 1);
$grey: rgba(186, 186, 186, 1);

$brackpoints: (
    sm: 440px,
    md: 804px,
    lg: 1090px,
    lg-m: 1024,
    xl: 1380px,
    xxl: 1600px,
);

@mixin forText {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #03453B;
}

@mixin forBtn {
    background-color: $green;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    padding: 1em 6em;
    border: 0px solid;
    border-radius: 4px;
    width: 290px;
    cursor: pointer;
    &:hover{
        background-color: $green-dark;
    }
}

@mixin forLink {
    text-decoration: none;
    color: $grey;
    &:hover{
        color:#fff;
    }
}